.content {
    justify-items: center;
}

h2 {
    background-image: linear-gradient(#143226, #dfddc9, black);
    color: transparent;
    background-clip: text;
    font-size: 2.083vw;
}

label {
    color: #dfddc9;
    font-size: 1.01vw;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
    border-radius: 0.26vw;
    font-size: 1.01vw;
}

#name02 {
    margin-left: 7.141vw;
}

#surname02 {
    margin-left: 5.088vw;
}

#email02 {
    margin-left: 6.771vw;
}

#number02 {
    margin-left: 5.688vw;
}

textarea {
    width: 98%;
    height: 25vh;
    font-size: 1.01vw;
    border-radius: 0.521vw;
}

#contact-form i {
    color: #dfddc9;
    font-size: 1.01vw;
    margin-top: 1vh;
    margin-left: 4.5vw;
}

.contact {
    width: 75%;
    background-color: #143226;
    border: 0.104vw solid black;
    border-radius: 0.26vw;
    justify-items: center;
    justify-content: center;
}

.contact img {
    margin-top: 3vh;
}

.contact button {
    background-color: #dfddc9;
    color: #143226;
    border-radius: 0.26vw;
    padding: 0.26vw;
    width: 7.156vw;
    height: 2.604vw;
    font-size: 1.01vw;
    font-style:italic;
    font-weight: bold;
    margin-top: 3vh;
    margin-left: 8.8vw;
    cursor: pointer;
}

.contact button:hover {
    background-color: black;
    color: white;
}
/*
    REFERENCE LIST

    Canva, n.d. Graphic design platform (images, icons and visual assets used in website design). [online] Available at: https://www.canva.com/
    [Accessed 3 April 2026].

    Duckett, J., 2011. HTML and CSS: Design and Build Websites. Indianapolis: John Wiley & Sons.

    Mozilla Developer Network (MDN), n.d. CSS: Cascading Style Sheets. [online] Available at: https://developer.mozilla.org/en-US/docs/Web/CSS
    [Accessed 3 April 2026].

    Mozilla Developer Network (MDN), n.d. CSS layout (Flexbox and positioning). [online] Available at: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Tutorial. [online] Available at: https://www.w3schools.com/css/
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Flexbox. [online] Available at: https://www.w3schools.com/css/css3_flexbox.asp
    [Accessed 3 April 2026].
*/