.location-header img {
    border-top-right-radius: 0.26vw;
    border-top-left-radius: 0.26vw;
}

.location-header img {
    border-top-right-radius: 0.26vw;
    border-top-left-radius: 0.26vw;
    transition: opacity 0.8s ease-in-out;
}

.location-table table {
    width: 60%;
    background-color: #143226;
    border: 0.26vw solid #143226;
    border-bottom-left-radius: 0.521vw;
    border-bottom-right-radius: 0.521vw;
    margin-bottom: 1.042vw;
    justify-self: center;
}

.location-table thead {
    background-color: #143226;
    color: white;
    padding: 1.042vw;
    font-style: italic;
    font-size: 1.302vw;
}

.location-table tbody {
    padding: 0.521vw;
    vertical-align: top;
    font-size: 1.302vw;
}

.location-table td {
    background-color: #dfddc9;
    border: 0.104vw solid #143226;
    border-bottom-left-radius: 0.521vw;
    border-bottom-right-radius: 0.521vw;
    padding: 0.521vw;
    text-align: center;
}

.time-table table {
    width: 60%;
    background-color: #143226;
    border: 0.26vw solid #143226;
    border-radius: 0.521vw;
    margin-bottom: 1.042vw;
    justify-self: center;
}

.time-table thead {
    background-color: #143226;
    color: white;
    padding: 1.042vw;
    font-style: italic;
    font-size: 1.302vw;
}

.time-table tbody {
    background-color: #dfddc9;
    padding: 0.521vw;
    vertical-align: top;
    font-size: 1.302vw;
}

.time-table td {
    border: 0.104vw solid #143226;
    border-bottom-left-radius: 0.521vw;
    border-bottom-right-radius: 0.521vw;
    padding: 0.521vw;
    text-align: center;
}
/*
    REFERENCE LIST

    Canva, n.d. Graphic design platform (images, icons and visual assets used in website design). [online] Available at: https://www.canva.com/
    [Accessed 3 April 2026].

    Duckett, J., 2011. HTML and CSS: Design and Build Websites. Indianapolis: John Wiley & Sons.

    Mozilla Developer Network (MDN), n.d. CSS: Cascading Style Sheets. [online] Available at: https://developer.mozilla.org/en-US/docs/Web/CSS
    [Accessed 3 April 2026].

    Mozilla Developer Network (MDN), n.d. CSS layout (Flexbox and positioning). [online] Available at: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Tutorial. [online] Available at: https://www.w3schools.com/css/
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Flexbox. [online] Available at: https://www.w3schools.com/css/css3_flexbox.asp
    [Accessed 3 April 2026].
*/