.content {
    justify-items: center;
}

.logging {
    width: 75%;
    background-color: #143226;
    border: 0.104vw solid black;
    border-radius: 0.26vw;
    justify-items: center;
    justify-content: center;
}

.logging img {
    margin-top: 3vh;
}

label {
    color: #dfddc9;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
    border-radius: 0.26vw;
}

#username {
    margin-left: 4.288vw;
}

#name {
    margin-left: 7.141vw;
}

#surname {
    margin-left: 5.088vw;
}

#email {
    margin-left: 6.771vw;
}

#password {
    margin-left: 4.488vw;
}

.logging button {
    background-color: #dfddc9;
    color: #143226;
    border-color: white;
    padding: 0.26vw;
    width: 7.156vw;
    height: 2.604vw;
    font-size: 1.01vw;
    font-style:italic;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 7.5vw;
}

.logging button:hover {
    background-color: black;
    color: white;
}

#login-form i {
    color: #dfddc9;
    font-size: 1.01vw;
    margin-top: 1vh;
    margin-left: 4.5vw;
}

.registering {
    width: 75%;
    background-color: #143226;
    border: 0.104vw solid black;
    border-radius: 0.26vw;
    justify-items: center;
    justify-content: center;
}

.registering img {
    margin-top: 3vh;
}

.registering button {
    background-color: #dfddc9;
    color: #143226;
    border-color: white;
    padding: 0.26vw;
    width: 7.156vw;
    height: 2.604vw;
    font-size: 1.01vw;
    font-style:italic;
    font-weight: bold;
    margin-top: 3vh;
    margin-left: 7.5vw;
}

.registering button:hover {
    background-color: black;
    color: white;
}
/*
    REFERENCE LIST

    Canva, n.d. Graphic design platform (images, icons and visual assets used in website design). [online] Available at: https://www.canva.com/
    [Accessed 3 April 2026].

    Duckett, J., 2011. HTML and CSS: Design and Build Websites. Indianapolis: John Wiley & Sons.

    Mozilla Developer Network (MDN), n.d. CSS: Cascading Style Sheets. [online] Available at: https://developer.mozilla.org/en-US/docs/Web/CSS
    [Accessed 3 April 2026].

    Mozilla Developer Network (MDN), n.d. CSS layout (Flexbox and positioning). [online] Available at: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Tutorial. [online] Available at: https://www.w3schools.com/css/
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Flexbox. [online] Available at: https://www.w3schools.com/css/css3_flexbox.asp
    [Accessed 3 April 2026].
*/