.main-menu img {
    border-top-right-radius: 0.26vw;
    border-top-left-radius: 0.26vw;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 1.042vw;
    justify-self: center;
    border-bottom: #143226 0.26vw solid;
}

td {
    padding: 0.521vw;
    vertical-align: top;
    font-size: 1.302vw;
}

td:last-child {
    white-space: nowrap;
    font-weight: bold;
}

th {
    font-style: italic;
    font-size: 2.083vw;
    font-weight: bold;
    color: color-mix(in srgb, #143226 70%, black 30%);
}

small {
    color: #555;
}
/*
    REFERENCE LIST

    Canva, n.d. Graphic design platform (images, icons and visual assets used in website design). [online] Available at: https://www.canva.com/
    [Accessed 3 April 2026].

    Duckett, J., 2011. HTML and CSS: Design and Build Websites. Indianapolis: John Wiley & Sons.

    Mozilla Developer Network (MDN), n.d. CSS: Cascading Style Sheets. [online] Available at: https://developer.mozilla.org/en-US/docs/Web/CSS
    [Accessed 3 April 2026].

    Mozilla Developer Network (MDN), n.d. CSS layout (Flexbox and positioning). [online] Available at: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Tutorial. [online] Available at: https://www.w3schools.com/css/
    [Accessed 3 April 2026].

    W3Schools, n.d. CSS Flexbox. [online] Available at: https://www.w3schools.com/css/css3_flexbox.asp
    [Accessed 3 April 2026].
*/